.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 625px;
  height: 100%;
  background-color: #fff;
  box-shadow: -1.04166667px 0 5.20833333px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.cart-panel .cart-header {
  padding: 10.41666667px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.04166667px solid #ccc;
}
.cart-panel .cart-header .buttons {
  display: flex;
}
.cart-panel .cart-header .buttons .button-white {
  background-color: #fff;
  cursor: pointer;
}
.cart-panel .cart-header .buttons .button-white:hover {
  background-color: #eee;
}
.cart-panel .cart-content {
  flex-grow: 1;
  padding: 10.41666667px;
  overflow-y: auto;
}
.cart-panel .cart-content .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.20833333px 0;
  border-bottom: 1.04166667px solid #eee;
}
.cart-panel .cart-content .cart-item .buttons {
  display: flex;
  flex-direction: column;
}
.cart-panel .cart-content .cart-item .button-white {
  font-size: large;
  background-color: #fff;
  color: #000;
}
.cart-panel .cart-content .cart-item .button-white:hover {
  background-color: #eee;
}
.cart-panel .cart-content .cart-item .item-img {
  width: 78.125px;
  height: 78.125px;
  display: flex;
  align-items: center;
  padding-left: 15.625px;
}
.cart-panel .cart-content .cart-item .item-img img {
  width: 100%;
}
.cart-panel .cart-content .cart-item .cart-item-info {
  flex-grow: 1;
  padding-left: 15.625px;
}
.cart-panel .cart-content .cart-item .cart-item-info .item-details {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10.41666667px;
}
.cart-panel .cart-content .cart-item .cart-item-info .item-details .quantity,
.cart-panel .cart-content .cart-item .cart-item-info .item-details .size {
  margin-right: 26.04166667px;
}
.cart-panel .cart-content .cart-item .cart-item-info .item-details .quantity p,
.cart-panel .cart-content .cart-item .cart-item-info .item-details .size p,
.cart-panel .cart-content .cart-item .cart-item-info .item-details .color p {
  color: gray;
  font-weight: 600;
  margin-bottom: 5.20833333px;
}
.cart-panel .cart-content .cart-item .cart-item-info .item-details .color-box {
  display: inline-block;
  width: 10.41666667px;
  height: 10.41666667px;
  border-radius: 50%;
}
.cart-panel .cart-content .cart-item .cart-item-price {
  font-weight: bold;
}
.cart-panel .cart-footer {
  padding: 10.41666667px;
  border-top: 1.04166667px solid #ccc;
  text-align: right;
}
.cart-panel .cart-footer .checkout-button {
  background-color: #000;
  color: #fff;
  padding: 15.625px 10.41666667px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 5.20833333px;
}
.cart-overlay.open .cart-panel {
  transform: translateX(0);
}
.cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 900;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}
.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.modal-buttons .continue-shopping-button,
.modal-buttons .sign-in-button {
  padding: 15.625px 10.41666667px;
  border: none;
  cursor: pointer;
}
.modal-buttons .continue-shopping-button {
  background-color: #f0f0f0;
  margin-right: 10.41666667px;
}
.modal-buttons .sign-in-button {
  background-color: black;
  color: white;
}
