@vw: 19.2vw;

@border-width: (20px / @vw);
@border-width-big: (25px / @vw);

@padding-large: (500px / @vw);
@padding-big: (300px / @vw);
@padding-small: (200px / @vw);
@padding-mini: (100px / @vw);

@margin-mini: (1000px / @vw);
@margin-small: (1500px / @vw);
@margin-big: (3000px / @vw);

.checkout-page {
  width: 80%;
  margin: 0 auto;
  padding: @padding-small;

  // Checkout steps 
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3 * @padding-large;
    margin: @padding-large;

    position: relative;

    .line {
      background-color:#ddd;
      width: 3 * @margin-big;
      height: (70px / @vw);

      position: absolute;
      top: 0.6 * @padding-large;

      z-index: -1;
    }

    .step-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: @margin-big;

      .step {
        width: 1.2 * @padding-large;
        height: 1.2 * @padding-large;
        border-radius: 50%;
        background-color: #ddd;
        text-align: center;
        line-height: 1.2 * @padding-large;
        font-size: @padding-big;
      }

      .step.active {
        background-color: #000;
        color: #fff;
      }

      .step-title{
        text-align: center;
        margin-top: @padding-small;
        font-size: @padding-small;
        color: #c4c4c4;
      }

      .step-title.active {
        color: #000;
      }
    }
  }
}

// Checkout page title
.title {
  text-align: center;

  p {
    font-size: @padding-small;
  }
}

// Checkout items' css is in the cart.css file

// Checkout summary
.checkout-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: @margin-small;

  .checkout-subtotal {
    text-align: right;
  }

  .next-step {
    margin-top: @padding-big;

    .material-symbols-outlined {
      margin-left: @padding-mini;
    }
  }
}
