.checkout-page {
  width: 80%;
  margin: 0 auto;
  padding: 10.41666667px;
}
.checkout-page .steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78.125px;
  margin: 26.04166667px;
  position: relative;
}
.checkout-page .steps .line {
  background-color: #ddd;
  width: 468.75px;
  height: 3.64583333px;
  position: absolute;
  top: 15.625px;
  z-index: -1;
}
.checkout-page .steps .step-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 156.25px;
}
.checkout-page .steps .step-box .step {
  width: 31.25px;
  height: 31.25px;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 31.25px;
  font-size: 15.625px;
}
.checkout-page .steps .step-box .step.active {
  background-color: #000;
  color: #fff;
}
.checkout-page .steps .step-box .step-title {
  text-align: center;
  margin-top: 10.41666667px;
  font-size: 10.41666667px;
  color: #c4c4c4;
}
.checkout-page .steps .step-box .step-title.active {
  color: #000;
}
.title {
  text-align: center;
}
.title p {
  font-size: 10.41666667px;
}
.checkout-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 78.125px;
}
.checkout-summary .material-symbols-outlined {
  margin-right: 5.20833333px;
}
.checkout-summary .checkout-subtotal {
  text-align: right;
}
.checkout-summary .next-step {
  margin-top: 15.625px;
}
.checkout-summary .next-step .material-symbols-outlined {
  margin-left: 5.20833333px;
}
