.product-details-back-link {
  width: 20%;
  display: block;
  margin-bottom: 52.08333333px;
  margin-left: 156.25px;
  margin-top: 78.125px;
}
.product-details-back-link a {
  display: flex;
  align-items: center;
  font-size: 20.83333333px;
  text-decoration: none;
  color: #000;
}
.product-details-container {
  display: flex;
  gap: 20.83333333px;
  padding: 10.41666667px;
  border: #ccc solid 1.04166667px;
  background-color: #fff;
  margin-left: 156.25px;
  max-width: 1354.16666667px;
}
.product-details-container .left-section {
  display: flex;
  flex-direction: column;
  gap: 5.20833333px;
  width: 182.29166667px;
}
.product-details-container .left-section img {
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
}
.product-details-container .main-section {
  width: 75%;
  display: flex;
  gap: 20.83333333px;
}
.product-details-container .main-section .main-image {
  flex: 1;
  width: 100%;
  border: 1.04166667px solid #ccc;
  background-color: #f9f9f9;
}
.product-details-container .main-section .product-info-section {
  flex: 1;
}
.product-details-container .main-section .product-info-brand {
  font-size: 15.625px;
  color: #555;
}
.product-details-container .main-section .product-info-name {
  margin: 5.20833333px 0;
}
.product-details-container .main-section .product-info-description {
  font-size: 13.02083333px;
  color: #777;
  padding-bottom: 15.625px;
  border-bottom: 1.04166667px #e6e6e6 solid;
}
.product-details-container .main-section .product-info-subtitle {
  margin: 20px 0;
  font-weight: bold;
  color: #818181;
}
.product-details-container .main-section .product-info-select {
  padding: 5.20833333px;
  width: 100%;
  margin-bottom: 10.41666667px;
}
.product-details-container .main-section .product-info-color-selection {
  display: flex;
  gap: 5.20833333px;
}
.product-details-container .main-section .product-info-color-selection div {
  width: 26.04166667px;
  height: 26.04166667px;
  border-radius: 50%;
  cursor: pointer;
}
.product-details-container .main-section .product-info-price {
  margin: 15.625px 0;
  font-size: 26.04166667px;
  font-weight: bold;
}
.product-details-container .main-section .product-info-button:disabled {
  background-color: #777;
  cursor: not-allowed;
}
