.card {
  border: 1.04166667px solid #ccc;
  padding: 0px;
  width: 437.5px;
  max-height: 30rem;
}
.card .card-img {
  width: 100%;
  height: 234.375px;
  background-color: #f1f1f1;
  overflow: hidden;
}
.card .card-img img {
  width: 100%;
  transform: scale(1);
  transition: all 0.5s;
}
.card .card-text {
  width: 100%;
  padding: 0px 26.04166667px;
}
.card .card-text h2 {
  margin-bottom: 0px;
}
.card .card-text p {
  font-style: italic;
  color: #818181;
  font-size: 15.625px;
  font-weight: 700;
  margin-top: 0px;
}
.card:hover img {
  transform: scale(1.1);
}
